/* You can add global styles to this file, and also import other style files */
div a.active{
    color:blue;
    background: red;
    border:1px;
    border-radius: 10px;
}
div a:hover{
    color:blue;
    background-color: red;
    border: 1px;
    border-radius: 10px;
}
body{
    background-color: black;
    background-size: cover;
}